<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proyecto Semestral - I-Semestre</title>

    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/Site.css")
    @Scripts.Render("~/bundles/modernizr")

    <link href="/Content/Site.css" rel="stylesheet" />
    <link rel="canonical" href="https://getbootstrap.com/docs/5.2/examples/cover/">
    <link href="../assets/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

    <style>
        input,
        select,
        textarea {
            max-width: 280px;
        }

        body {
            display: flex;
            flex-direction: column;
            min-height: 100vh;
            font-family: Arial, Helvetica, sans-serif;
        }

        .navbar {
            background-color: #02393E;
            position: fixed;
            top: 0;
            width: 100%;
            z-index: 1000;
        }

        .footer {
            background-color: #02393E;
            color: white;
            padding: 1rem 0;
            text-align: center;
            margin-top: auto;
        }

        .content {
            flex: 1;
            margin-top: 56px; /* Altura de la navbar */
        }
    </style>
</head>


<body>
    <nav class="navbar navbar-expand-sm navbar-dark" style="width: 100%;">
        <div class="container" style="width: 100%">
            @Html.ActionLink("Proyecto Semestral", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" title="Alternar navegación" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse d-sm-inline-flex justify-content-between">
            </div>
        </div>
    </nav>

    <div class="content" style="width: 100%;">
        @RenderBody()
    </div>

    <footer class="footer">
        <hr />
        <p>UNAN - Managua <br /> Todapoderosa carrera de Ingeniería en Sistemas de la Información  </p>
        @Scripts.Render("~/bundles/jquery")
        @Styles.Render("~/Content/Site.css")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("Scripts", required: false)
    </footer>
</body>
</html>