@model Proyecto.Model.Clases.TipoDocumentoIdentidad
@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container mt-5 d-flex justify-content-center">
    <div class="card shadow-sm bg-light">
        <div class="card-header">
            <h4>¿Seguro que desea continuar?</h4>
        </div>
        <div class="card-body">
            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <th scope="row">Codigo Del Tipo de Documento: </th>
                        <td>
                            @Html.DisplayFor(model => model.Codigo_TipoDocumento)
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Descripción del Tipo de Documento de Identidad: </th>
                        <td>
                            @Html.DisplayFor(model => model.Descripcion_TipoDocumentoIdentidad)
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">ID del Pais: </th>
                        <td>
                            @Html.DisplayFor(model => model.Paises.Codigo_Pais)
                        </td>
                    </tr>
                </tbody>
            </table>

            <div class="card-footer text-md-center">

                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <button type="submit" class="btn btn-danger">Eliminar</button>
                    @Html.ActionLink("Cancelar", "Index", null, new { @class = "btn btn-secondary ml-2" })
                }
            </div>
        </div>
    </div>
</div>