@model Proyecto.Model.Clases.Proveedores
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mt-5 d-flex justify-content-center">
    <div class="card shadow-sm bg-light" style="width:70%">
        <div class="card-header">
            <h4>Proveedor</h4>
        </div>
        <div class="card-body">
            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <th style="width: 30%" scope="row">Razón Social:</th>
                        <td>
                            @Html.DisplayFor(model => model.RazonSocial)
                        </td>
                    </tr>
                    <tr>
                        <th style="width: 40%" scope="row">Codigo Tributario:</th>
                        <td>
                            @Html.DisplayFor(model => model.CodigoTributario)
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="text-right mt-3">
                @Html.ActionLink("Editar", "Edit", new { id = Model.ID_Proveedor }, new { @class = "btn btn-warning" })
                @Html.ActionLink("Eliminar", "Delete", new { id = Model.ID_Proveedor }, new { @class = "btn btn-danger" })
                @Html.ActionLink("Cancelar", "Index", null, new { @class = "btn btn-secondary ml-2" })
            </div>
        </div>
    </div>
</div>