@model IEnumerable<Proyecto.Model.Clases.Proveedores>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body>
    <div class="container-fluid mt-4" style="padding-left:5%; padding-right:5%">
        <hr />
        <h2>Listado de Proveedores</h2>
        <hr />
        <hr />
        <p>
            @Html.ActionLink("Nuevo Proveedor", "Create", null, new { @class = "btn btn-primary  btn-lg ml-3" })
        </p>
        <hr />
        <hr />
        <table id="proveedorTable" class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th style="width: 40%" >Razón Social </th>
                    <th style="width: 30%" >Codigo Tributario</th>
                    <th style="width: 20%; text-align:center; align-content: center">Acciones</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.RazonSocial)</td>
                        <td>@Html.DisplayFor(modelItem => item.CodigoTributario)</td>

                        <td align="center">
                            @Html.ActionLink("Editar", "Edit", new { id = item.ID_Proveedor }, new { @class = "btn btn-warning" })
                            @Html.ActionLink("Detalles", "Details", new { id = item.ID_Proveedor }, new { @class = "btn btn-success" })
                            @Html.ActionLink("Eliminar", "Delete", new { id = item.ID_Proveedor }, new { @class = "btn btn-danger" })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        @*@section Scripts
        {
            <script src="~/Scripts/ScriptCreados/UnidadesMedidas/Index.js"></script>
        }*@

        @section Scripts {
            <script src="https://cdn.datatables.net/1.11.4/js/jquery.dataTables.min.js   "></script>
            <script>
                $(document).ready(function () {
                    $('#proveedorTable').DataTable();
                });
            </script>
        }
    </div>
</body>