@model Proyecto.Model.Clases.Productos
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container mt-5 d-flex justify-content-center">
    <div class="card shadow-sm bg-light">
        <div class="card-header">
            <h4>Editar Producto</h4>
        </div>
        <div class="card-body">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                @Html.HiddenFor(model => model.ID_Producto)
                <table class="table table-striped">
                    <tbody>
                        <tr>
                            <th scope="row">Codigo del Producto: </th>
                            <td>
                                @Html.EditorFor(model => model.Codigo_Producto, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Codigo_Producto, "", new { @class = "text-danger" })
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">Nombre del Producto: </th>
                            <td>
                                @Html.EditorFor(model => model.NombreProducto, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.NombreProducto, "", new { @class = "text-danger" })
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">Codigo de la Categoria del Producto: </th>
                            <td>
                                @Html.DropDownList("ID_CategoriaProducto", null, htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.ID_CategoriaProducto, "", new { @class = "text-danger" })
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">Codigo de la Marca del Producto: </th>
                            <td>
                                @Html.DropDownList("ID_MarcaProducto", null, htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.ID_MarcaProducto, "", new { @class = "text-danger" })
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">Abreviatura de la Unidad de Medida: </th>
                            <td>
                                @Html.DropDownList("ID_UnidadMedida", null, htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.ID_UnidadMedida, "", new { @class = "text-danger" })
                            </td>
                        </tr>
                    </tbody>
                </table>

                <div class="card-footer text-md-center">
                    <button type="submit" class="btn btn-primary">Guardar cambios</button>
                    @Html.ActionLink("Cancelar", "Index", null, new { @class = "btn btn-secondary ml-2" })
                </div>
            }
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}