@model Proyecto.Model.Clases.Empleados
@{
    ViewBag.Title = "Eliminar Empleado";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container mt-5 d-flex justify-content-center">
    <div class="card shadow-sm bg-light" style="width:70%">
        <div class="card-header">
            <h4>¿Seguro que desea continuar?</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.PrimerNombre)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.PrimerNombre)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.PrimerApellido)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.PrimerApellido)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.NO_Empleado)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.NO_Empleado)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Codigo_Empleado)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Codigo_Empleado)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.NO_INSS)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.NO_INSS)
                </dd>
            </dl>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <div class="form-actions no-color">
                    @Html.HiddenFor(model => model.ID_Empleado)
                    <input type="submit" value="Eliminar" class="btn btn-danger" /> |
                    @Html.ActionLink("Cancelar", "Index", null, new { @class = "btn btn-default" })
                </div>
            }
        </div>
    </div>
</div>