@model Proyecto.Model.Clases.DocumentoIdentidad
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container mt-5 d-flex justify-content-center">
    <div class="card shadow-sm bg-light" style="width:70%">
        <div class="card-header">
            <h4> Documento de Identidad</h4>
        </div>
        <div class="card-body">
            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <th scope="row">Codigo Documento Identidad: </th>
                        <td>
                            @Html.DisplayFor(model => model.Codigo_DocumentoIdentidad)
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Fecha de Emisión: </th>
                        <td>
                            @Html.DisplayFor(model => model.FechaEmision_DocumentoIdentidad)
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Fecha de Finalización: </th>
                        <td>
                            @Html.DisplayFor(model => model.FechaFinalizacion_DocumentoIdentidad)

                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Tipo de Documento Identidad: </th>
                        <td>
                            @Html.DisplayFor(model => model.TipoDocumentoIdentidad.Codigo_TipoDocumento)
                        </td>
                    </tr>
                </tbody>
            </table>

            <div class="card-footer text-md-center mt-3">
                @Html.ActionLink("Editar", "Edit", new { id = Model.ID_DocumentoIdentidad }, new { @class = "btn btn-warning" })
                @Html.ActionLink("Eliminar", "Delete", new { id = Model.ID_DocumentoIdentidad }, new { @class = "btn btn-danger" })
                @Html.ActionLink("Cancelar", "Index", null, new { @class = "btn btn-secondary ml-2" })
            </div>
        </div>
    </div>
</div>
