@model IEnumerable<Proyecto.Model.Clases.DocumentoIdentidad>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<body>
    <div class="container-fluid mt-4" style="padding-left:5%; padding-right:5%">
        <hr />
        <h2>Listado de Documentos de Identidades</h2>
        <hr />
        <hr />
        <p>
            @Html.ActionLink("Nuevo Documento De Identidad", "Create", null, new { @class = "btn btn-primary  btn-lg ml-3" })
        </p>
        <hr />
        <hr />
        <table id="documentoidentidadTable" class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th style="width: 20%; text-align:center; align-content: center">Codigo Documento Identidad</th>
                    <th style="width: 20%; text-align:center; align-content: center">Fecha de Emisión</th>
                    <th style="width: 20%; text-align:center; align-content: center">Fecha de Finalización</th>
                    <th style="width: 20%; text-align:center; align-content: center">Tipo de Documento Identidad</th>
                    <th style="width: 20%; text-align:center; align-content: center">Acciones</th>

                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>

                        <td>
                            @Html.DisplayFor(modelItem => item.Codigo_DocumentoIdentidad)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FechaEmision_DocumentoIdentidad)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FechaFinalizacion_DocumentoIdentidad)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TipoDocumentoIdentidad.Codigo_TipoDocumento)
                        </td>

                        <td align="center">
                            @Html.ActionLink("Editar", "Edit", new { id = item.ID_DocumentoIdentidad }, new { @class = "btn btn-warning" })
                            @Html.ActionLink("Detalles", "Details", new { id = item.ID_DocumentoIdentidad }, new { @class = "btn btn-success" })
                            @Html.ActionLink("Eliminar", "Delete", new { id = item.ID_DocumentoIdentidad }, new { @class = "btn btn-danger" })
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        @section Scripts {
            <script src="https://cdn.datatables.net/1.11.4/js/jquery.dataTables.min.js   "></script>
            <script>
                $(document).ready(function () {
                    $('#documentoidentidadTable').DataTable();
                });
            </script>
        }
    </div>
</body>